/*
EasyMVC special CSS options
Version 1.2.1
*/

/* Reset margin & padding for all html-alements */
* {
    padding: 0;
    margin: 0;
}
/* End Reset margin & padding for all html-alements */

/* EasyMVC Background */
#bgtopleft, #bgbottomright {
    height: 100%;
    width: 100%;
    position: fixed;
}

#bgtopleft {
    background-color: #8892bf;
    clip-path: polygon(0 0, 95% 0, 30% 30%, 0 95%);
    z-index: -1;
}

#bgbottomright {
    background-color: #dd0031;
    clip-path: polygon(100% 100%, 100% 5%, 70% 70%, 5% 100%);
    z-index: -2;
}
/* End EasyMVC Background */

/* Changing normal behavior html-elements */
button {
    cursor: pointer;
}
/* End Changing normal behavior html-elements */

/* Background Colors Elements */
.background {
    background-color: #fff!important;
}
/* End Background Colors Elements */

/* Layout */
.emvc-center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .emvc-center-element {
        position: relative;
        top: 10px;
        left: 10%;
        margin-bottom: 10px;
        transform: none;
    }
}
/* End Layout */

/* Form Elements */
.emvc-input {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 50%;
}
/* End Form Elements */

/* Labels / Badges */
.emvc-label,
.emvc-badge {
    display: inline-block;
    border: 1px solid darkgray;
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 5px;
}

.emvc-badge-pill {
    border-radius: 50%;
}

.emvc-label-primary,
.emvc-badge-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.emvc-label-outline-primary,
.emvc-badge-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.emvc-label-secondary,
.emvc-badge-secondary {
    background-color: #868e96;
    border-color: #868e96;
    color: white;
}

.emvc-label-outline-secondary,
.emvc-badge-outline-secondary {
    border-color: #868e96;
    color: #868e96;
}

.emvc-label-success,
.emvc-badge-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.emvc-label-outline-success,
.emvc-badge-outline-success {
    border-color: #28a745;
    color: #28a745;
}

.emvc-label-danger,
.emvc-badge-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.emvc-label-outline-danger,
.emvc-badge-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.emvc-label-warning,
.emvc-badge-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
}

.emvc-label-outline-warning,
.emvc-badge-outline-warning {
    border-color: #ffc107;
    color: #ffc107;
}

.emvc-label-info,
.emvc-badge-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

.emvc-label-outline-info,
.emvc-badge-outline-info {
    border-color: #17a2b8;
    color: #17a2b8;
}

.emvc-label-light,
.emvc-badge-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.emvc-label-outline-light,
.emvc-badge-outline-light {
    border-color: #f8f9fa;
}

.emvc-label-dark,
.emvc-badge-dark {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
}

.emvc-label-outline-dark,
.emvc-badge-outline-dark {
    border-color: #343a40;
    color: #343a40;
}

.emvc-label-inverse,
.emvc-badge-inverse {
    background-color: black;
    border-color: black;
    color: white;
}

.emvc-label-outline-inverse,
.emvc-badge-outline-inverse {
    border-color: black;
}
/* End Labels / Badges */

/* Clearing Floats */
.emvc-clearfix:before,
.emvc-clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* End Clearing Floats */

/* CSS Used for Testing */
.test_border {
    border: 2px solid red;
}
/* End CSS Used for Testing */