<footer>
    <span>Raspberry Pi CMS {{ constant('VERSION')|raw }} powered by EasyMVC {{ constant('CORE_VERSION') }}<br>Copyright &copy; {{ "now"|date('Y') }} by <a href="http://rmsoft.be/" target="_blank">RMsoft.be</a></span>
</footer>
