{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}Pi-Webserver Rebooting{% endblock %}
{% block jvscript %}
    {{ parent() }}
{% endblock %}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block container %}
    <div class="emvc-center-element">
        <div class="jumbotron">
            <h1 class="display-4">Pi-Webserver Rebooting</h1>
        </div>
    </div>
{% endblock %}